.tasksText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40rem;
  margin: 4rem 4rem 1.875rem 4rem;
}

.text > p,
.text > span {
  line-height: 1.4;
  font-weight: bold;
  border-radius: 4px;
}

.text > p {
  color: var(--blue);
}

.text > p + p {
  color: var(--purple);
}

.counter {
  color: var(--gray-200);
  background: var(--gray-400);
  border: 3px solid var(--gray-400);
  border-radius: 10px;
  padding: 0 0.75rem 0 0.75rem;
  margin-left: 0.625rem;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4;
}

.indexedTasks {
  border-top: 1px solid var(--gray-400);
  border-radius: 10px;
  padding: 4rem 30.125rem 0 18.125rem;
  margin-bottom: 1rem;
}

.indexedTasks svg {
  margin-left: 200px;
}

.dontHaveIndexedTasks {
  font-weight: bold;
}
